.date-box {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.20);

  &__month {
    font-size: 16px;
    line-height: 20px;
  }
  &__date {
    font-size: 24px;
    line-height: 34px;
  }
}
.content-box {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;

  &__amount {
    font-size: 30px
  }
}