.card-container {
  display: flex;
  opacity: 0;
  transform: translateX(0);
  transition: all 0.2s ease-out;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  margin: 15px 0;
  animation-name: swipeIn;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  overflow: hidden;
}

.entries {
  width: 100%;
}