.entryform {
  width: 100%;

  &-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 24px;
  }

  &-heading {
    padding: 0 15px;
    margin: 0 20px;
    
    h1 {
      margin: 0;
    }
  }

  &-field {
    padding: 15px;
    font-weight: 100;
    font-size: 14px;
    margin: 0 20px;

    label {
      line-height: 26px;
    }
  }

  &-input {
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid #bbb;
    box-sizing: border-box;
    background-color: white;
    padding: 10px 15px;
  }
}

.error-message {
  background-color: #FF4040;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

form button {
  margin: 20px 0 0 0;
  width: 100%;
  font-size: 14px;
  padding: 20px 20px;
  background-color: #000;
  color: white;
  border: none;
  position: sticky;
  bottom: 0;
  box-sizing: border-box;
}