.entryform {
  width: 100%;

  &-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 24px;
  }

  &-heading {
    padding: 0 15px;
    margin: 0 20px;
    
    h1 {
      margin: 0;
    }
  }

  &-field {
    padding: 15px;
    font-weight: 100;
    font-size: 14px;
    margin: 0 20px;

    label {
      line-height: 26px;
    }
  }

  &-input {
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid #bbb;
    box-sizing: border-box;
    background-color: white;
    padding: 10px 15px;
  }

  &-subsection {
    padding: 20px;
    background-color: #FFF;
    border: 1px solid #DDD;
    margin-top: 10px;
  }

  &-repeating_row {
    display: flex;
    flex-direction: row;

    &-field {
      padding: 0 15px;
      font-weight: 100;
      font-size: 14px;
      margin: 0;

      label {
        line-height: 26px;
      }
    }
  }

  &-add_row {
    margin: 15px 15px 0;
    padding: 5px;
    // border-radius: 50px;
    // width: 50px;
    background-color: #EEE;

    p {
      margin: 0;
      padding: 0;
      text-align: center;
      color: #000;
      border: 1px dashed #000;
      font-size: 24px;
      font-weight: bold;
    }
  }
}

.error-message {
  background-color: #FF4040;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

form button {
  margin: 20px 0 0 0;
  width: 100%;
  font-size: 14px;
  padding: 20px 20px;
  background-color: #000;
  color: white;
  border: none;
  position: sticky;
  bottom: 0;
  box-sizing: border-box;
}