.page {
  grid-column: span 14;
  align-items: center;
}

.wrapper {
  padding: 12px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-top: 16px;
  font-size: 32px;
  font-weight: 500;
  padding: 22px 16px;
  background-color: black;

  a {
    color: white;
  }
}

.subtitle {
  font-size: 16px;
  font-style: italic;
  padding: 0 16px 32px;
  color: white;
  background-color: black;
}

.button-container {
  margin-top: 32px;
  display: flex;
  width: 100%;
}

.login {
  background-color: black;
  color: white;
  border: none;
  padding: 16px 0;
  font-size: 18px;
  flex-grow: 1;
  width: 100%;
}
