.loading {
  &-area {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: center;
  }
  &-icon {
    font-size: 24px;
  }
}

.view {
  &-header {
    grid-column: 2 / span 12;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 24px;

    button {
      font-size: 14px;
      padding: 10px 20px;
      background-color: #000;
      color: white;
      border: none;
      margin: 5px;
    }
  }
  &-total {
    margin-bottom: 15px;

    .amount {
      font-size: 42px;
      line-height: 48px;
      font-weight: bold;
    }
    .label {
      font-size: 18px;
      line-height: 24px;
    }
  }
}

.entries-container {
  display: grid;
  grid-column: 2 / span 12;
  grid-row: 2;
  width: 100%;
}