.loading {
  &-area {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: center;
  }
  &-icon {
    font-size: 24px;
  }
}

.date {
  &-range {
    grid-row: 1;
    grid-column: span 14;
    background-color: #FFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    div {
      background-color: white;
      padding: 10px;
    }
    .to {
      width: 15px;
      height: 15px;
      margin: 0 15px;
    }
  }
}

.view {
  &-header {
    grid-column: 2 / span 12;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 24px 0;

    button {
      font-size: 14px;
      padding: 10px 20px;
      background-color: #000;
      color: white;
      border: none;
      margin: 5px;
    }
  }
  &-total {
    margin-bottom: 15px;

    .amount {
      font-size: 42px;
      line-height: 48px;
      font-weight: bold;
    }
    .label {
      font-size: 18px;
      line-height: 24px;
    }
  }
}

.entries-container {
  display: grid;
  grid-column: 2 / span 12;
  grid-row: 3;
  width: 100%;
}

.main-content {
  position: relative;
  grid-column: span 14;
  display: grid;
  grid-template-columns: repeat(14, 1fr);
}

.loading-overlay {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}


// SVG styles.
svg {
  animation: 2s linear infinite svg-animation;
  max-width: 100px;
  height: 100px;
}

// SVG animation.
@keyframes svg-animation {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg)
  }
}

// Circle styles.
circle {
  animation: 1.4s ease-in-out infinite both circle-animation;
  display: block;
  fill: transparent;
  stroke: #FFF;
  stroke-linecap: round;
  stroke-dasharray: 283;
  stroke-dashoffset: 280;
  stroke-width: 10px;
  transform-origin: 50% 50%;
}

// Circle animation.
@keyframes circle-animation {
  0%,
  25% {
    stroke-dashoffset: 280;
    transform: rotate(0);
  }
  
  50%,
  75% {
    stroke-dashoffset: 75;
    transform: rotate(45deg);
  }
  
  100% {
    stroke-dashoffset: 280;
    transform: rotate(360deg);
  }
}