.multiselect {
  &:focus {
    outline: none;
  }
}

.multiselect-display {
  display: flex;
  width: 100%;
  cursor: pointer;
  width: 100%;
  font-size: 12px;
  font-weight: 500;
  border: 1px solid #bbb;
  box-sizing: border-box;
  background-color: white;
  align-items: stretch;
  justify-content: space-between;

  &__icon {
    display: flex;
    background-color: #333;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    align-items: center;

    i {
      margin-top: -5px;
    }
  }
  &__text {
    padding: 10px 15px;
    font: 500 12px system-ui;
  }
}
