.options {
  padding: 10px 20px;
  box-sizing: border-box;

  &-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    background-color: white;
    padding: 15px 20px;
    margin: 10px auto;
    border-radius: 5px;
    border: 1px solid #a0a0a0;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    &:focus {
      outline: none;
      border: 1px solid #4aafb8;
      background-color: rgba(74, 175, 184, 0.1);
    }

    &__label {
      font-size: 14px;
      display: flex;
      align-items: center;
    }
    &__checkbox {
      height: 25px;
      width: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #a0a0a0;
      border-radius: 3px;
    }

    &.selected {
      border: 1px solid rgb(81, 184, 74);
      background-color: rgb(81, 184, 74);

      .options-card__label {
        color: white;
      }
      .options-card__checkbox {
        border: 1px solid white;
        color: white;
      }
    }
  }
}